


<div ng-controller="navCtrl" id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="userProfile.html"><img class ="heroPic" src="https://pbs.twimg.com/profile_images/435608617840963584/f1ss6Ke2_400x400.jpeg"/></a>
  <a href="searchScreen.html">Find</a>
  <div class="dropdown">
  <a href="#">Groups
  	<div class="dropdown-content">
  		<a href="#">Link 1</a>
    	<a href="#">Link 2</a>
    	<a href="#">Link 3</a>
   	</div>
  </a></div>
  <a href="inbox.html">Messages</a>
  <a href="userProfile.html">Profile</a>
  <a href="../../index.html">Log Out</a>
  <a href="aboutUs.html">About</a>
  <a href="contactUs.html">Contact Us</a>
</div>

<script>

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
    }
</script>


