<!DOCTYPE html>
-<html ng-app="Roll4Guild">
<head>
<title>searchScreen</title>
<link rel="stylesheet" href="../../styles/css/styles.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="../../scripts/app.js"></script>
    <script>
        $(function(){
            $("#includedContent").load("generalNav.html");
        });
    </script>
<style>
.groupButton {
  border-radius: 50px 0px 0px 50px;
}
.userButton {
  border-radius: 0px 50px 50px 0px;
}

</style>
</head>

<body ng-controller="searchCtrl">
<div data-ng-init="init()"></div>
<div id="includedContent"></div>

<div id="main">

  <span ng-controller="navCtrl" style="font-size:30px;cursor:pointer" ng-click="openNav()">&#9776; Navigation</span>
  <center><div id="searchField">
    <h2>Search for a:</h2>
    <button class="groupButton">Groups</button>
    <button class="userButton">Users</button>
  </div></center>
</div>



</body>
</html>
